body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin: 2rem 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.nav {
  background: gray;
  padding: 0.5rem 5%;
  a {
    color: white;
  }
}

p {
  max-width: 500px;
}
